.validator-tooltip {
    position: absolute;
    max-width: 300px;
    left: 0;
    display: inline-grid;
    grid-auto-flow: column;
    background-color: #fff;
    padding: 0.5rem 1rem;
    font-family: 'Roboto';
    word-break: break-all;
    box-shadow: 0px 2px 14px 0px #00000040;
    border-radius: 8px;
    z-index: 1;
}

.validator-tooltip::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 18px solid #fff;
    top: -12px;
    left: 12px;
    z-index: 1;
}